<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <script src="/static/js/log_window.js"></script>
</head>
<body>

    <main>
        <div class="loginer">
            <input type="text" id="username" placeholder="Введите ваш логин">
            <input type="password" id="password" placeholder="Введите пароль">
            <button onclick="sendRequest('login')">войти</button>
            <button onclick="sendRequest('register')">регистрация</button>
            <div id="result" class="result"></div>
        </div>
    </main>
</body>
</html>