<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <script></script>
    <header>
        <nav>
            <a href="#">Сообщения</a>
            <a href="#">Хранилище</a>
            <a href="#">выйти</a>
        </nav>
    </header>
    
    <main>
        <div class="chat">
            <div class="contact">
                <div class="contact-button">
                    <button>+</button>
                </div>
                <div class="contact-name">
                    <a>Никнэйм</a>
                </div>

            </div>
            <div class="message">
                <div class="messages-list">
                    <div class="incoming">Никнэйм: Привет!</div>
                    <div class="outgoing">Никнэйм: Привет, как дела?</div>
                </div>
                <div class="message-input">
                    <input type="text" placeholder="Введи сообщение" >
                    <button>✉︎</button>
                    <button>⛓︎</button>
                </div>
            </div>
    </div>
    </main>

</body>
</html>